<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 border-primary overflow-hidden bg-gradient-primary">
            <div class="row gy-0">
                <div class="col-md-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-duration="1500">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold mb-3" data-aos="fade-up" data-aos-duration="1000">Daftar sekarang dan dapatkan diskon khusus*</h2>
                        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">*Diskon hanya berlaku jika kamu mendaftar hari ini</p>
                        <div class="my-3"><a class="btn me-2 mt-2 btn-light" role="button" data-aos="fade-up" data-aos-duration="1000" href="/daftar" style="background-color: white; color: var(--bs-primary); font-weight: 600;">Daftar</a><a class="btn mt-2 btn-outline-light" role="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" href="#paket">Lihat Paket</a></div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
</section>