<footer>
    <div class="container py-4 py-lg-5">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold text-center">BritsEdu</h3>
                <p class="text-center">Your learning companion, <em>your key to excel.</em></p>
            </div>
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold text-center">Learning Programs</h3>
                <ul class="list-unstyled">
                    <li class="text-center"><a href="#">Private Tutoring</a></li>
                    <li class="text-center"><a href="#">Exam Prep</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold text-center">About</h3>
                <ul class="list-unstyled">
                    <li class="text-center"><a class="text-center" href="#">Teachers</a></li>
                    <li class="text-center"><a class="text-center" href="#">Alumni</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold text-center">Careers</h3>
                <ul class="list-unstyled">
                    <li class="text-center"><a class="text-center" href="#">Teacher Recruitment</a></li>
                    <li class="text-center"><a class="text-center" href="#">Content Editor</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                    <p class="mb-0">Copyright © BritsEdu 2024</p>
                    <ul class="list-inline mb-0">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>