<div class="alert alert-success alert-icon" role="alert" style="max-width: 32rem;">
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-icon-aside">
        <i class="far fa-flag"></i>
    </div>
    <div class="alert-icon-content">
        <h6 class="alert-heading"></h6>
        
    </div>
</div>