<div id="latex-buttons">
    <button type="button" id="inline-button" title="Insert Inline Wrap">
        <span class="latex-icon">$</span>
    </button>
    <button type="button" id="block-button" title="Insert Block Wrap">
        <span class="latex-icon">$$</span>
    </button>
    <button type="button" id="fraction-button" title="Insert Fraction">
        <span class="latex-icon">$\frac{1}{2}$</span>
    </button>
    <button type="button" id="sqrt-button" title="Insert Superscript">
        <span class="latex-icon">$\sqrt{x}$</span>
    </button>
    <button type="button" id="superscript-button" title="Insert Superscript">
        <span class="latex-icon">$x^2$</span>
    </button>
    <button type="button" id="subscript-button" title="Insert Subscript">
        <span class="latex-icon">$x_2$</span>
    </button>
    <button type="button" id="log-button" title="Insert Log">
        <span class="latex-icon">$^{10}{\log x}$</span>
    </button>
    <button type="button" id="integral-button" title="Insert Integral">
        <span class="latex-icon">$\int_{x}^{y}$</span>
    </button>
    <button type="button" id="matrix-button" title="Insert Matrix">
        <span class="latex-icon">$\begin{bmatrix}a & b \\ c & d\end{bmatrix}$</span>
    </button>
    <button type="button" id="brackets-button" title="Insert Brackets">
        <span class="latex-icon">$(x + y)$</span>
    </button>
    <button id="cases-button" title="Insert cases-button">
        <span class="latex-icon">$\begin{cases}a & x = 0\\b & x > 0\end{cases}$</span>
    </button>
   
    <button id="arccos-button">$\arccos{x}$</button>
    <button id="arcsin-button">$\arcsin{x}$</button>
    <button id="arctan-button">$\arctan{x}$</button>
    <button id="cos-button">$\cos{x}$</button>
    <button id="cosh-button">$\cosh{x}$</button>
    <button id="cot-button">$\cot{x}$</button>
    <button id="coth-button">$\coth{x}$</button>
    <button id="csc-button">$\csc{x}$</button>
    <button id="sec-button">$\sec{x}$</button>
    <button id="sin-button">$\sin{x}$</button>
    <button id="sinh-button">$\sinh{x}$</button>
    <button id="tan-button">$\tan{x}$</button>
    <button id="tanh-button">$\tanh{x}$</button>
    <button id="toggle-symbols" >$\cdots$</button>

    <!-- Sidebar for Symbols -->

    
    
    
    
</div>