<div class="symbol-grid-box" id="symbol-sidebar" style="display: none;">
    <!-- General Symbols -->
    <button id="neq-button">≠</button>
    <button id="leq-button">≤</button>
    <button id="geq-button">≥</button>
    <button id="sim-button">~</button>
    <button id="approx-button">≈</button>
    <button id="simeq-button">≃</button>
    <button id="infty-button">∞</button>
    <button id="cap-button">∩</button>
    <button id="cup-button">∪</button>
    <button id="subset-button">⊂</button>
    <button id="supset-button">⊃</button>
    <button id="int-button">∫</button>
    <!-- Accent Symbols -->
    <button id="hat-button">â</button>
    <button id="check-button">ǎ</button>
    <button id="tilde-button">ã</button>
    <button id="grave-button">à</button>
    <button id="acute-button">á</button>
    <button id="bar-button">ā</button>
    <button id="ddot-button">ä</button>
        <!-- Greek Symbols -->
    <button id="alpha-button">$\alpha$</button>
    <button id="beta-button">$\beta$</button>
    <button id="gamma-button">$\gamma$</button>
    <button id="delta-button">$\delta$</button>
    <button id="epsilon-button">$\epsilon$</button>
    <button id="zeta-button">$\zeta$</button>
    <button id="eta-button">$\eta$</button>
    <button id="theta-button">$\theta$</button>
    <button id="iota-button">$\iota$</button>
    <button id="kappa-button">$\kappa$</button>
    <button id="lambda-button">$\lambda$</button>
    <button id="mu-button">$\mu$</button>
    <button id="nu-button">$\nu$</button>
    <button id="xi-button">$\xi$</button>
    <button id="pi-button">$\pi$</button>
    <button id="rho-button">$\rho$</button>
    <button id="sigma-button">$\sigma$</button>
    <button id="tau-button">$\tau$</button>
    <button id="phi-button">$\phi$</button>
    <button id="chi-button">$\chi$</button>
    <button id="psi-button">$\psi$</button>
    <button id="omega-button">$\omega$</button>

    <!-- Trigonometric Functions -->

</div>