<form class="form-inline me-auto d-none d-lg-block me-3">
    <div class="input-group input-group-joined input-group-solid">
        <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-text"><i data-feather="search"></i></div>
    </div>
</form>