</div>
</div>
<div class="pt-2 pb-0" style="border-top:1px solid #eee">
    <div class="row">
        <div class="col-8">
            <button id="prevSoal" class="btn btn-orange btn-round btn-md btn-navigasi" onclick="prevSoal()">
                <i  class="fa fa-chevron-circle-left"></i> <span
                    class="d-none d-sm-inline-block">Sebelumnya</span></button>
            <button id="raguButton" class="btn btn-warning btn-md btn-navigasi ml-2" style="border-radius:10px;" onclick="ragu()">
                <i class="fa fa-question-circle text-white"></i>
                <span
                    class="d-none d-sm-inline-block text-white">Ragu-ragu</span></button>
            <button id="nextSoal"
                class="btn btn-orange btn-round btn-md btn-navigasi ml-2" style="border-radius:5px" onclick="nextSoal()"
                id="nextSoal"> <span class="d-none d-sm-inline-block">Selanjutnya</span> <i
                    class="fa fa-chevron-circle-right"></i></button>
        </div>
        <div class="col-4 text-right">
            <span class="btn btn-outline-primary" style="font-size:16px" id="c1" onclick="decreaseFontSize()"><i
                    class="fas fa-search-minus"></i></span>
            <span class="btn btn-outline-primary" style="font-size:16px" id="c3" onclick="increaseFontSize()"><i
                    class="fas fa-search-plus"></i></span>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
