<div class="modal fadeIn" id="timeoutDialog" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body text-center pb-2 pt-5">
          <h5 class="modal-title" style="text-align:center">PERHATIAN !!</h5>
          <p>Waktu tes sudah habis !</p>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-danger" onclick="selesaikanTes()">Ok, Lanjutkan !</button>
        </div>
  
      </div>
    </div>
  </div>
  